.header{
    width:100%;
    height: 70px;
    box-shadow: 0px 0px 10px 0px #ccc;
    position: relative;
    z-index: 3000;
    background: url(../image/navbg.png);
    behavior: url(PIE.htc);
}
.header-con{
    width:1028px;
    height: 100%;
    margin: 0 auto;
}
.logo{
    height: 100%;
    width: 4.29%;
    float: left;
}
.logo a{
    display: block;
    height: 100%;
    width:100%;
    background: yellow;
}
.logo img{
    width:100%;
    vertical-align:middle;
}
.nav{
    float: right;
    width:95.71%;
    height: 100%;
}
.nav ul{
    height: 100%;
    float: right;
    width:auto;
}
.nav li{
    height: 100%;
    float: left;
    padding-left: 32px;
    padding-right: 32px;
    line-height: 70px;
    font-size: 16px;
    position: relative;
}
.twonav{
    position: absolute;
    width:240px;
    border-radius: 15px;
    background: url('../image/navzz.png');
    top: 60px;
    z-index: 2000;
    padding: 20px;
    display: none;
    behavior: url(PIE.htc);
    background-position: -2px -2px;
}
.twonav p{
    margin: 0;
    padding: 0;
    line-height: 16px;
    margin-bottom: 15px;
}
.nav a{
    text-decoration: none;
    color:black;
}
.nav a:hover{
    color:#00C79F;
}

/*foot*/
.footer{
    width:100%;
    background: #18211E;
}
.footer-con{
    border-bottom: 2px solid #B3B5B4;
    overflow: hidden;
    padding-bottom: 52px;
}
.footer-con-continer{
    width:1182px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 90px;
    box-sizing: border-box;
    padding-left: 50px;

}
.footer-con-l{
    float: left;
    margin-right: 10px;
    line-height: 0;
}
.footer-con-l img{
    width:61px;
    height: 59px;
}
.footer-con-c{
    float: left;
    color:#A7AAA9;
}
.footer-con-c .fnav{
    float: left;
}
.fnav a{
    text-decoration: none;
    color:#A7AAA9 ;
}
.fnav a:hover{
    color: white;
}
.footer-con-c .footer-title{
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 34px;
    box-sizing: border-box;
    padding-left: 36px;
}
.footer-con-c ul{
    padding-right: 76px;
    padding-left: 36px;
    border-right: 1px solid #EBECEB;
    font-size: 14px;
}
.af ul{
    border-right: 0px;
    padding-right: 0px;
}
.footer-con-c li{
    margin-bottom: 17px;
}
.footer-con-r{
    float: left;
    position: relative;
    margin-left: 70px;
}
.footer-con-r .phone{
    /*height: 0.88rem;*/
    border:3px solid #00B085;
    color:#00AF84;
    position: relative;
    overflow: hidden;
    width:150px;
    height: 80px;
    padding-top: 20px;
    behavior: url(PIE.htc);
}
.footer-con-r .phone p{
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.phone-num{
    padding-left: 10px;
}
.phone-icon{
    position:absolute;
    top:-65px;
    left: 70px;
    width:73px;
    height: 75px;
}
.phone-icon img{
    width: 100%;
    height: 100%;
}
.footer-ft{
    width: 100%;
    background: #18211E;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-ft p{
    text-align: center;
    color: #A7AAA9;
    font-size: 12px;
}
.box{
    width:1200px;
    margin: 0 auto;
    overflow: hidden;
}

