/*header*/
body{
    overflow-x: hidden;
}
img{
    border-style: none;
}
body,ul,h1{
    padding: 0;
    margin: 0;
    list-style: none;
}

/*banner*/
.banner{
    height: 600px;
    position: relative;
}
.banner img{
    width: 100%;
    height: 600px;
}
.banner-but{
    width: 300px;
    height: 80px;
    border: 2px solid #606568;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 75px;
    border-radius: 40px;
    font-size: 42px;
    color: white;
    line-height: 80px;
    text-align: center;
    cursor: pointer;
    behavior: url(PIE.htc);
}
.banner-but:hover{
    background: rgba(255,255,255,0.3);
}
/*内容*/
.con{
    width:100%;
}
.con-one{
    width:100%;
    height: 600px;
    position: relative;
    margin-top: 15px;
}
.con-one img{
    width:100%;
    height: 100%;
}
.con-one-continer{
    width:688px;
    height: 498px;
    position: absolute;
    background-image: url("../image/zz.png");
    top: 0;
    bottom: 0;
    margin: auto 0;
    right:64px;
}
.con-one-tit{
    margin-bottom: 42px;
    font-weight: bold;
}
.con-one-ct{
    margin-bottom: 62px;
}
.con-one-con{
    width:578px;
    margin: 70px auto;
    height:100px;
    font-size: 16px;
}
.con-one-con p{
    margin: 0;
    margin-bottom: 2px;
}
/*内容第二块*/
.con-two-continer{
    width:1180px;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    left:0;
    right: 0;
    top:0;

}
.con-two-continer div{
    height: 100%;
    float: left;
}
.con-two-left{
    width:629px;
}
.con-two-left img{
    width:643px;
    height: 422px;
    margin-top: 34px;
}
.con-two-left-c p{
    font-size: 16px;
    margin: 0;
    margin-bottom: 4px;
}
.con-two-left-c .con-two-tit{
    font-size: 18px;
    margin-bottom: 18px;
}
.con-two-right{
    width:551px;
}
.con-two-right .con-two-but{
    border:2px solid white;
    height: 76px;
    padding-left: 38px;
    padding-right: 38px;
    font-size: 24px;
    color: white;
    line-height: 76px;
    border-radius: 38px;
    cursor: pointer;
    behavior: url(PIE.htc);
}
.con-two-right .con-two-but:hover{
    background: rgba(255,255,255,0.2);
}
.con-two-right .two-one{
    margin-left: 81px;
}
.con-two-right .two-two{
    margin-left: 267px;
}
.con-two-right .two-four{
    margin-left: 331px;
}
.con-two-right .two-five{
    margin-left: 186px;
}
.con-two-right li{
    overflow: hidden;
    margin-top: 20px;
}
/*中部内容*/
.mid{
    width:100%;
    height: 144px;
    position: relative;
}
.mid img{
    width:100%;
    height: 100%;
}
.mid p{
    position: absolute;
    height: 144px;
    font-size: 18px;
    color: #3FA7F3;
    line-height: 144px;
    margin: 0;
    padding: 0;
    padding-left: 114px;
    top: 0;
}
/*country*/
.country{
    width:100%;
    background: #C9D3D6;
}
.country-continer{
    /*width:10.16rem;*/
    /*1180*/
    width:1180px;
    margin: 0 auto;
    padding-top: 100px;
}
.contry-continer-t{
    width: 100%;
    font-size: 18px;
}
.contry-continer-t p{
    width: 100%;
    font-size: 16px;
    margin: 0;
    font-weight: bold;
    margin-bottom: 3px;
}
.contry-continer-t .contry-continer-title{
    font-weight: normal;
    margin-bottom: 14px;
    font-size: 20px;
}
.contry-continer-b{
    width: 1016px;
    margin: 0 auto;
    padding-top: 98px;
}
.contry-continer-b ul{
    overflow: hidden;

}
.contry-continer-b li{
    float: left;
    margin-left: 60px;
    margin-right: 6px;
    width:134px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 62px;
}
.contry-continer-b li img{
    width:134px;
    height: 78px;
}
/*footer*/









